<div class="ui inverted attached segment" id="footer">
    <div class="ui center aligned wide container">
        <div class="ui stackable inverted centered divided grid">
            <div class="eight wide column" style="text-align: right">
                <h4 class="header"><i class="inverted red tint icon"></i> CommandString/Blood</h4>
                <span>A composer package for handling blood types</span>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Links</h4>
                <div class="ui inverted link list">
                    <a target="_blank" href="https://github.com/commandstring/bloodtypes" class="item"><i class="github icon"></i> Github</a>
                    <a target="_blank" href="https://packagist.org/packages/commandstring/blood" class="item"><i class="box icon"></i> Packagist</a>
                </div>
            </div>
        </div>
    </div>
</div>