<div id="navigation" class="ui inverted large attached menu">
    <div class="ui wide container">
        <a class="logo item">
            <img src="/img/logo.png">
        </a>
        <a class="disabled item">Package Docs</a>
        <a class="disabled item">API Docs</a>
    </div>
</div>