#hero {
  padding: 30px 0;
}

.section.segment {
  padding: 30px 0;
}

.form {
  padding: 5px;
}

#compatibility-between-two > .message {
  height: 115px;
}

.large.donors.list, .large.recipients.list {
  height: 200px;
}


.large.proteins.list, .large.antibodies.list {
  height: 70px;
}
